.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.flex-wrap90 {
    display: flex;
    flex-wrap: wrap;
    flex-basis:45%;
}
flex-wrap80 {
    display: flex;
    flex-wrap: wrap;
    flex-basis:80%;
    max-height:1000px;
}
.flex-wrap20 {
    display: flex;
    flex-wrap: wrap;
    flex-basis:20%;
    max-height:1000px; 
}
.flex-wrap10 {
    display: flex;
    flex-wrap: wrap;
    flex-basis:10%;
}
.hdr {
    width: calc(100% / 3)
}
.hdrp {
    flex-basis: calc(100% / 3 - 5px);
    max-height:300px;
    margin:2px;
}
.hdrfull {
    flex-basis:100%;
    height: 150px;
    margin:2px;
}
.bg-blue {
    background-color:blue;
}
.bg-green {
    background-color:green;
}
.bg-purple {
    background-color:purple;
}
.bg-yellow {
    background-color:yellow;
}
.bg-red {
    background-color:red;
}
.bg-white {
    background-color: white;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-white {
    color:white;
}
.img-size {
    height: 60px;
    width:60px;
}
.height {
    height:200px;
}
.width {
    width:600px;
}
.width2 {
    width:90px;
}
.border {
    border:2px solid red;
}